<!--The content below is only a placeholder and can be replaced.-->
    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right" role="tablist">
          <li role="presentation" routerLinkActive="active"><a routerLink="/home">Inicio</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/posts">Posts</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/add-post">Crear post</a></li>
        </ul>
        <h3 class="text-muted">Simple CRUD Application</h3>
      </div>

      <router-outlet></router-outlet>

      <div class="footer">
        <p>&copy; Company 2014</p>
      </div>

    </div>
