    <div class="row">
    <!-- view -->

    <div class="col-md-12">

    <legend>{{post.title}}</legend>

    <div >

    <div class2=" col-md-9 col-lg-9 "> 
    <table class="table table-user-information">
    <tbody>
    <tr>
    <td>Nombre: </td>
    <td>{{post.name}}</td>
    </tr>
    <tr>
    <td>Correo electrónico: </td>
    <td><a href="mailto:{{post.email}}">{{post.email}}</a></td>
    </tr>
    </tbody>
    </table>
    </div>


    </div>

    <div class="jumbotron">
        <div class="col-2 text-truncate">
            <p class="text-left font-weight-normal">{{post.content}}</p>
        </div>
    </div>


    </div>

</div>